body{
    background-color: blanchedalmond;
    cursor: all-scroll;
    text-align: center;
    padding-top: 12%;
    text-size-adjust: 20;
    text-rendering: auto;


}
.div{background-color: blue;
border-radius: 12cm;
color: azure;
padding:  15px 32px;
text-align: center;}